
.main{

    display: flex;
     
    justify-content: center;
    margin-top: 200px;
}



#panel {
  

    display:none;
    width: 400px; 
    height: 244px;
    margin: 0 auto; 
    padding: 14px 0 0;
    background: #fff;
   
    border-bottom: none;
    border-radius: 30px;
    font: 16px calibri;
    letter-spacing: -1px;
   
    border:1px solid rgb(131, 128, 128);
    box-shadow: 1px 1px 3px rgb(117, 116, 116);
    }
    form {
       
       
    margin: 0;
    }

    label {
        font-family: 'Comfortaa', cursive;
        display: block;
        width: 260px;
        padding: 5px 10px;
        color: #757575;
        font-size: 12px;
        text-shadow: 0 0 1px silver;
        
        }

        #username, #password {
            display: block;
            width: 360px; 
            margin: 0 auto;
            padding: 5px 5px;
            border: 1px solid silver;
            outline: 1px solid #ebebeb;
            font-size: 22px;
            border-radius: 4px;
            }
            #username:focus, #password:focus {
            outline: 1px solid #e5f2f8;
            }
 
            #lower {
                background: #252525;
                width: 100.3%;
                padding: 18px 16px;
                margin-top: 30px;
                margin-left: -1px;
                box-sizing: border-box; 
            border-radius: 4px;
            border:1px solid rgb(65, 64, 64);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
                }


                .check {
                    display: inline;
                    float: none;
                   
                    padding: 3px; color:white;
                    letter-spacing: 0.3px;
                    font-size: 10px;
                    }
                    input[type="submit"] {
                    width: 70px;
                    padding: 10px 10px;
                    border: 1px solid #5a5a5a;
                    color: white;
                    text-shadow: 0 0 1px black;
                    background: #787878;
                    position: relative;
                    left: 160px;
                    }
                    #panel, input[type="submit"] {
                        -webkit-border-radius: 5px; 
                        -moz-border-radius: 5px; 
                        border-radius: 5px; 
                    }