.place_to_posts{

    display: flex;
    background-color: rgb(255, 255, 255);
   justify-content: left;
    margin-left:80px;
    margin-top:10px;  
   flex-wrap: wrap;
   width:30%;
   height: auto;
 

  }

.main_post{
   
   margin-top: 10px;
   margin-bottom: 60px;
    font-size: 30px;
    width:100%;
    height:100%;
     display: flex;
    justify-content: left;
    flex-direction: column;

}

.photo{

width: 100%;
height:auto;
border-radius: 10px;

}
a{

  text-decoration: none;
}

img{
 width: 100%;
height: 100%;
border-radius: 10px;
border: 1px solid rgb(103, 103, 103);
box-shadow:2px 2px 3px 0px rgb(86, 86, 86);
}
.blured{

width: 100%;
height: 20px;
background-color: black;
position: relative;

}



.title{
width: 100%;
height: 50px;
display: inline;

font-size:20px;
font-family: Arial, Helvetica;
letter-spacing: 1px; 

text-transform: uppercase; color:rgb(40, 40, 40);
}



.pe{
position: relative;
text-align: center; padding-left: 20px;
line-height: 30px;
font-weight: 600;
}



.text{
text-align:justify;

width: 100%; 
text-indent: 35px; 
height: 40px;

overflow: auto;
font-size:11px;

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}